/build_local/
/build_production/
/cache/
/node_modules/
/vendor/
/.idea/
/.vscode/
/.github
npm-debug.log
yarn-error.log

# Optional ignores
# /build_staging/
# /source/assets/build/css/
# /source/assets/build/fonts/
# /source/assets/build/js/
