@tailwind base;

@tailwind components;

@tailwind utilities;

body {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        &::selection {
            @apply bg-yellow-500 text-white;
            text-shadow: 5px 2px #473288;
        }
    }
}

.md-content p {
    @apply font-medium text-base text-justify;
}

.transition {
    transition: all .55s ease;
}